repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        types: [python]
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args:
          - --profile=black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args:
          - --max-line-length=88
  # It was either this or filling the `additional_dependencies` options will
  # all the dependencies from requirements.txt creating duplications and hard
  # to maintain.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy algorithms_keeper/ tests/
        language: python
        types: [python]
        pass_filenames: false
