[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"

[packages]
aiohttp = "*"
gidgethub = "*"
cachetools = "*"

[requires]
python_version = "3.8"
